$mainFont: "Oswald", sans-serif;

$mainFontColor: #6e774a;
$mainFontSize: 18px;
$mainFontWeight: 400;
$mainLineHeight: 1.4;

$desktopWidth: 1280px;
$smDesktopWidth: 980px;
$tableWidth: 768px;
$phoneWidth: 480px;
$smPhoneWidth: 320px;

$default-color: #6e774a;
$primary-color: #1c1c1b;
$light-color: #f7f8f3;

$border-base: #9db892;
